.form-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-content {
  width: 496px;
  height: 56px;
  border-radius: 12px;
  border: 1px solid;
  overflow: hidden;
}

.form-content input {
  padding-left: 20px;
  border: none;
  outline: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.enter {
  margin-top: 20px;
  width: 496px;
  height: 64px;
  border-radius: 64px;
  background-color: #4E74F5;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.forgot-password {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #4E74F5;
  cursor: pointer;
  margin-top: 10px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}


.terms {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #4E74F5;
}

.terms a {
  color: #4E74F5;
  text-decoration: none;
  font-weight: 600;
}

.promokod {
  display: none;
}

.terms a:hover {
  text-decoration: underline;
}

.desktop-only {
  display: block;
}

.forgot-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  text-align: center;
}

.forgot-image {
  margin-bottom: 20px;
}

.forgot-title {
  padding-top: 30px;
  font-family: 'Open Sans';
  line-height: 100%;
  letter-spacing: 0px;
  font-size: 32px;
  margin-bottom: 10px;
}

.forgot-subtitle {
  color: #888;
  font-size: 14px;
  margin-bottom: 30px;
}

.cancel-button{
  border: none;
  color: #999999;
  cursor: pointer;
}

.centered-form {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 768px) {
  .form-content {
    width: 343px;
  }

  .enter {
    width: 343px;
    height: 56px;
    border-radius: 64px;
    font-size: 16px;
  }

  .form-items {
    gap: 16px;
    align-items: center;
  }

  .promokod.mobile-only {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #4E74F5;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .desktop-only {
    display: none;
  }
}
