.header-container{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header-left{
    position: relative;
    width: 142.95px;
    color: #F90043;
    left: 54px;
    font-size: 30px;
}

.header-right{
    display: flex;
    gap: 20px;
    padding-right: 54px;
}

.header-right>p{
    position: relative;
    width: 132px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #999999;
    font-family: 'Open Sans';
    cursor: pointer;
    text-align: center;
    top: 5px;
}

.registration{
    position: relative;
    width: 170px;
    height: 51px;
    border-radius: 100px;
    background-color: #4E74F5;
    color: white;
    border: 0;
    cursor: pointer;
}


@media (max-width: 768px) {

  .mobile-hidden {
    display: none;
  }

  .header-left {
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
    left: 16px;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-right: 16px;
  }

  .header-right > p {
    width: auto;
    font-size: 14px;
    text-align: center;
  }

  .registration {
    width: 113px;
    height: 40px;
    max-width: 300px;
    font-size: 14px;
    padding: 12px 0;
  }
}

