.welkom-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.welkom-message.login {
  margin-top: 60px;
}

.welkom-message.registration {
  margin-top: 80px;
}

.welkom-message.forgot {
  margin-top: 100px;
}

.welkom-message.confirm {
  margin-top: 120px;
}

.welkom-text.text-offset {
  margin-top: 50%;
}

.welkom-title {
  font-family: 'Open Sans';
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  margin: 0;
  text-align: center;
}

.welkom-subtitle {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #999999;
  margin-top: 10px;
  text-align: center;
  max-width: 500px;
}

body[data-path="/confirmEmail"] .welkom-subtitle {
  margin-bottom: 0 !important;
}

.confirm-offset {
  margin-top: 200px; 
}

.welkom-image {
  position: absolute;
  margin-bottom: 100px;
}

.welkom-image img {
  width: 80px;
  height: auto;
}
.enter-offset {
  margin-top: 100px; 
}

@media(max-width: 768px){
  .welkom-title {
    width: 300px;
    margin: 0 auto;
  }
.enter-offset {
  margin-top: -10px; 
}
.welkom-message.forgot {
  margin-top: -40px;
}
  .welkom-image {
  margin-bottom: 190px;
}
.welkom-text.text-offset {
  margin-top: 30px;
}
}